.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background-color: var(--background-color);
}

@media screen and (max-width: 768px) {
  .conteiner {
    width: 95%;
    margin: 0 auto;
    flex-direction: column;
  }
}
